<div class="page-header">
	<h1>欢迎来到Stage1st</br><small>图片标注服务</small></h1>
</div>

<div class="container">
	<div class="row-fluid">
		<div class="span9">
			<% @images.each do |image| %>
				<li>
					<a herf="#" class="thumbnail">
						<%= image_tag image.imgdir.url(:embed), :height => "200", :width => "200" if image.imgdir? %>
					</a>
				</li>
			<% end %>
		</div>
			<div class="span3 pull-right">
				<h2>登陆</h2>
			<div class="form-inputs">
				<%= simple_form_for "user", :url => user_session_path do |f| %>
				<%= f.input :username, placeholder: '用户名', :label => "用户名" %>
				<%= f.input :password, placeholder: '登陆密码', :label => "登陆密码" %>
					<div class="control-group boolean inline optional">
						<%= f.check_box :remember_me %> 记住我？
					</div>
					<div class="form-action">
					<%= f.submit "登陆", class: "btn btn-primary"%>
				</div>
				<p><%= link_to "忘记密码？", new_password_path('user') %></p>
			<% end %>
			</div>
		</div>
	</div>
</div>