<div class='page-header'>
  <h1><center>请吐槽您上传的图片</center><h1>
</div>
<script type="text/javascript">
  $(document).ready(
    function()
    {
      $('#Expandable').jPicker(
        {
          window:
          {
            expandable: true
          }
        });
    });
  
  $(document).ready(
    function()
    {
      $('#imgcrop').Jcrop({
          onChange: showCoords,
          onSelect: showCoords
      });

    });

// Simple event handler, called from onChange and onSelect
// event handlers, as per the Jcrop invocation above
function showCoords(c)
{
//  alert('x='+ c.x +' y='+ c.y +' x2='+ c.x2 +' y2='+ x.y2)
//  alert('w='+c.w +' h='+ c.h)

    $('#coords').val(c.w + "," + c.h + "," + c.x + "," + c.y)

//  $('#x').val(c.x);
//  $('#y').val(c.y);
//  $('#x2').val(c.x2);
//  $('#y2').val(c.y2);
//  $('#w').val(c.w);
//  $('#h').val(c.h);
};

</script>


<div class="container">
  <div class="row-fluid">
    <div class="span7 offset1">
      <p>请吐槽您要吐槽的位置<p>
      <%= image_tag @photo.imgdir.url(:thumb), :label => "原图", :id => "imgcrop" if @photo.imgdir? %>
    </div>
<div class="span4 pull-right">
<%= simple_form_for @photo do |f| %>
  <%= f.input :embed_text, :label => "往这儿吐槽", :placeholder => "吐槽或者留空" %>
  <%= f.input :embed_size, :collection => 15..30, :label => "字体大小", :default => 15  %>
  <%= f.input :embed_color, :label => "选择颜色", :as => :hidden, :input_html => { :value => '000000', :id => 'Expandable' } %>
  <%= f.input :embed_coords, :as => :hidden, :input_html => {:id => "coords" } %>
  <%= f.submit "创建吐槽" %>
<% end %>
</div>
  </div>
</div>


<div class="span1 pull-right">
<%=link_to "返回前页",  new_photo_path %>
</div>