<div class="container">
<div class="page-header">
	<h1><center>您上传的图片</center></h1>
</div>


<% @images.each do |image| %>
<ul class="thumbnails">
<li class="span4">
  <a herf="#" class="thumbnail">
    <%= image_tag image.imgdir.url(:thumb) if image.imgdir? %> 
  </a>
    <div class="btn-group">
  <%= link_to "吐槽", edit_photo_path(image), :class => "btn" %> 
  <%= link_to "删除", photo_path(image), :class => "btn", :confirm => '你确定要删除吗', :method => :delete %>
</div>
</li>
<li class="span4">
  <a herf="#" class="thumbnail">
  <%= image_tag image.imgdir.url(:embed) if !image.imgdir.embed.blank? %>
</a>
</li>
</ul>

<% end %>
</div>
<br>
<hr>

<%= simple_form_for @photos, :html => {:multipart => true} do |f| %>
	<h2><center><b>请上您的图片</b></h2>


<div class="fileupload fileupload-new" data-provides="fileupload">
  <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;"><img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" /></div>
  <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
  <div>
    <span class="btn btn-file"><span class="fileupload-new">选择图片</span><span class="fileupload-exists">改变当前图片</span><%= f.file_field :file %></span>
    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">取消</a>
    <span class="fileupload-exists"><%= f.submit "确定", :class => "btn btn-primary" %>
  </div>
</div>

<% end %>