<div class="container">
   <div class="row-fluid">
    <div class="page-header">
	   <h1><center>您上传的图片(最多6张)</center></h1>
    </div>

<div class="span8">
 <% @images.each do |image| %>
      <li class="inner">
        <%=link_to image_tag(image.imgdir.url(:thumb)), image.imgdir.url if image.imgdir? %> 
        <%=link_to image_tag(image.imgdir.url(:embed)), image.imgdir.url(:embed), :class => "fancybox", :rel => "gpi" if !image.imgdir.embed.blank? %>

    <div class="btn-group">
      <%= link_to "吐槽", edit_photo_path(image), :class => "btn" %> 
      <%= link_to "删除", photo_path(image), :class => "btn", :confirm => '你确定要删除吗', :method => :delete %>
    </div>

      </li>

<% end %>
</div>

<div class="span3 pull-right">
  <div class="well">
    <h5>修正图片引用地址:<br>
    1 2 3<br>
    4 5 6<br>
    顺序上至下.</h3>
  <li class="url"> 
    <% @images.each do |img| %>
      <% if !img.imgdir.embed.blank? %>
            <h5><%= link_to "吐槽图片引用地址", img.imgdir.url(:embed) %></h5>
      <% else %>
            <h5>没有吐槽图片引用地址</h5>
    <% end %>
    <% end %>
  </li>
</div>

  
<%= simple_form_for @photos, :html => {:multipart => true} do |f| %>
	<h2><center><b>请上您的图片</b></h2>


<div class="fileupload fileupload-new" data-provides="fileupload">
  <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;"><img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" /></div>
  <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
  <div>
    <span class="btn btn-file"><span class="fileupload-new">选择图片</span><span class="fileupload-exists">改变当前图片</span><%= f.file_field :file %></span>
    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">取消</a>
    <span class="fileupload-exists"><%= f.submit "确定", :class => "btn btn-primary" %>
  </div>
</div>

<% end %>
</div>
