
<% @images.each do |image| %>
<p>Img Url:</ br><%= image.imgdir.url %></p>
<div class="action">
	<%= link_to "edit", edit_image_path(photo) %> |
	<%= link_to "remove", image, :confirm => 'Are you sure?', :method => :delete %>
</div>

<% end %>

<%= form_for @photos, :html => {:multipart => true} do |f| %>
	<label>My Photo</label>
	<%= f.file_field :file %>
	<%= f.submit %>
	<% end %>
