
<% @images.each do |image| %>
Img Url:</ br><%= image.imgdir.url %>
<%= link_to "remove", image, :confirm => 'Are you sure?', :method => :delete %>
</br>

<% end %>

<%= form_for @photos, :html => {:multipart => true} do |f| %>
	<label>My Photo</label>
	<%= f.file_field :file %>
	<%= f.submit %>
	<% end %>
