<!DOCTYPE html>
<html>
<head>
  <title>Imgserv</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar navbar-inner">
    <div class="container">
      <a class="brand" href="#">Imgserv: Stage1st Image Upload Service</a>
    </div>
    <ul class="nav pull-right">
    <% if user_signed_in? %>
      Signed in as <%= current_user.email %>. Not you?
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
   <% else %>
     <%= link_to "Sign up", new_user_registration_path %> or
     <%= link_to "Sign in", new_user_session_path %>
   <% end %>
    </ul>
  </div>
</div>


<% if flash[:notice] %>
	<p class="notice"><%= flash[:notice] %></p>
<% end %>

<div class="container">
  <%= yield %>
</div>

</body>
</html>