<!DOCTYPE html>
<html>
<head>
  <title>Imgserv</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<div id="user_nav">
  <% if current_user %>
    Logged in as <%= current_user.username %>.
    <%= link_to "Log out", log_out_path %>
  <% else %>
    <%= link_to "Sign up", sign_up_path %> or
    <%= link_to "log in", log_in_path %>
  <% end %>
</div>

</br>
</br>
</br>

<% if flash[:notice] %>
	<p class="notice"><%= flash[:notice] %></p>
<% end %>

<%= yield %>

</body>
</html>